<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>𝗦𝗽𝗼𝘁𝗶𝗳𝘆</title>
  <img src="http://assets.stickpng.com/thumbs/5ece4ff9123d6d0004ce5f89.png" alt="some text" width=350 height=350>
</head>

<input><input/>
<input><input/>
<body>
  <div class="wrapper">
    <input type="text" placeholder="✨Procurar...">
    <button>
      🔍
    </button>
  </div>
</body>
</html>
